/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.7em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color:#3B1646;
}

/***********************
        DEFAULTS
***********************/

/****** ABOUT colors******/
.about-container{
    background: green;
}  
#cakepop{
    border: 2px solid orange;
}
#about-content{
    background: white;
}
#acco-list{
    background: gray;
}
#about-button{
    background-color: blue;
}
/****** CONTACT colors
.contact-container{
    background: green;
}
#contact-info{
    background: white;
}
.form{
    background:orange;
}

#socials{
    background: red;
}*****/
/******^^^colors^^^^*****/

.nav-container {
    background-color: #3B1646;
    padding: 0 10px;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.container{
    max-width: 72%;
    margin: 0 auto 10px;
    padding: 10px;
}

.about-container{
    max-width: 72%;
    margin: 0 auto 10px;
    padding: 10px;
}
.contact-container{
    max-width: 72%;
    margin: 0 auto 10px;
    padding: 10px;
    margin-top: 20px;
}
#logo:hover{
    animation: rotation .5s infinite linear;
  }
   @keyframes rotation {
 25% {
        transform: rotate(-10deg);
      }
50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
 
}
#illustration{
    width:100%;
}
#home-info{
    line-height: 1.7em;
}
#tagline{
    padding:18px 0;
    text-align:center;
    font-style: italic;
}

#cakepop{
    max-width:1080px;
    box-shadow: 9px 9px #A4D4A0;
}

h1{
    font-size:2.5rem;
    color:#A4D4A0;
}
h2{
    font-size:2rem;
    color:#A4D4A0;
    padding:0 0 10px 0;
}
h3{
    font-size:1.5rem;
    padding:10px 0;
    color:#A4D4A0;
}
h4{
    font-size: 1.2rem;
    padding:10px 0;
    color:#A4D4A0;
}
p, li{
    color:#A4D4A0;
    font-size: 16px;
}

footer{
    color:#A4D4A0;
    bottom:0;
    width:100%;
    height:50px;
    padding:10px 14% 0;
}

#button{
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #A4D4A0, #87489C);
    color:#F2D852;
    text-shadow: 1px 1px #3B1646;
    border: 0;
    border-radius: 20px;
    font-size: 22px;
    padding:10px;
    text-decoration: none;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
    transform:skew(0,0);
}

#button:hover{
    background: linear-gradient(to bottom right, #87489C, #A4D4A0);
    transform: skew(5deg,-10deg);
}

#acco-list{
    list-style-type: circle;
    display:flex;
    flex-direction: column;
    margin-left:20px;
}
#contact-info{
    line-height: 1.7em;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 8px 0 14px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
input[type=submit] {
    background: linear-gradient(to bottom left, #A4D4A0, #87489C);
    color:#F2D852;
    text-shadow: 1px 1px #3B1646;
    font-size:16px;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
    transform:skew(0,0);
  }
  
input[type=submit]:hover {
    background: linear-gradient(to bottom left, #87489C, #A4D4A0);
    transform: skew(5deg,-10deg);
  }
  
.form {
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    max-width: 400px;
  }
.form label{
    color:#A4D4A0
}

#socials{
    text-align: center;
}
svg{
    fill:#A4D4A0;
}
/***********************
        MOBILE
***********************/
@media screen and (max-width: 480px){

nav{
    display:flex;
    justify-content:space-evenly;
    padding:20px;
}
nav ul{
    text-align: center;
    padding-top: 20px;
}
nav li{    
    padding:20px;
}
nav li a{
    font-size: 1.3em;
    text-decoration: none;
    color: #A4D4A0;
}
nav li a:hover{
    color:#D2A1CA;
}

#logo{
    display:flex;
}
#about-content{
    height:100%;
}
#cakepop{
    margin:20px;
    width:100%;
}
#button{
    margin:10px 20%;
}

#contact-info{
    padding:20px 0;
}

#socials{
    text-align: center;
}
#socials svg{
    width: 50px;
}
}
/***********************
        TABLET
***********************/
@media screen and (min-width: 480px) and (max-width: 768px){

    nav{
        padding:20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: center;
     }
    nav ul{
        padding-top: 20px;
        display: flex;
        flex-direction: row;
    }
    nav li{    
        padding:30px;
        display:flex;
        flex-direction: row;
    }
    nav li a{
        font-size: 1.7rem;
        text-decoration: none;
        color: #A4D4A0;
    }
    nav li a:hover{
        color:#D2A1CA;
    }
    #logo{
        display:flex;
        flex-wrap: wrap;
    }
   #button{
    margin:10px 20%;}

    #cakepop{
        margin:20px;}

   }
/***********************
       DESKTOP
***********************/
@media screen and (min-width: 768px){

    nav{
        padding:20px;
        display: flex;
        flex-direction: row;
        align-items:flex-end; 
        justify-content: center;
     }
    nav ul{
        padding-top: 20px;
        display: flex;
        flex-direction: row;
    }
    nav li{    
        padding:0 30px;
    }
    nav li a{
        font-size: 1.7rem;
        text-decoration: none;
        color: #A4D4A0;
       }
    nav li a:hover{ 
        animation-name: fade; 
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;}
        @keyframes fade{
            from {color: #A4D4A0;}
            to {color:#D2A1CA;}
          }
        }

    #logo{
        display:flex;
        flex-wrap:wrap;
    }
    #button{
            margin:10px 40%;
        }

    .about-container{
        display:flex;
        flex-flow: row wrap;
        align-content: space-between;
        justify-content: center;
    }
    #cakepop{
       margin:20px;
    }
    #about-content{
        padding:10px 20px;
        margin:0 0 0 30px;

    }
    #about-button{
        width: 100%;
    }

    .contact-container{
        display:flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
    }
    #contact-info{
       padding:20px;
    
    }
    #socials{
        width:100%;
    }
}
