/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: #D2A1CA;
}

/***********************
        DEFAULTS
***********************/
.nav-container {
    background-color: #87489C;
    padding: 0 auto 10px;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.container{
    max-width: 72%;
    background-color: #A4D4A0;
    margin: 0 auto 10px;
    padding: 10px;
}

#illustration{
    width:100%;
}

#cakepop{
    width:100%;
}

h1{
    font-size:2.5rem;
}
h2{
    font-size:2rem;
}
h3{
    font-size:1.5rem;
}
footer{
    color:#A4D4A0;
    bottom:0;
    width:100%;
    height:50px;
    padding:10px 14% 0;
}

#button{
    background: linear-gradient(to bottom right, #D2A1CA, #87489C);
    border: 0;
    border-radius: 10px;
    color:aliceblue;
    padding:10px;
    text-align: center;
    text-decoration: none;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0.2s;
}
#button:hover{
    background: linear-gradient(to bottom right, #87489C, #D2A1CA);
    padding: 10px 2em;
}

/***********************
        MOBILE
***********************/
@media screen and (max-width: 480px){

nav{
    display:flex;
    justify-content:space-evenly;
    padding:20px;
}
nav ul{
    text-align: center;
    padding-top: 20px;
}
nav li{    
    padding:20px;
}
nav li a{
    font-size: 1.3em;
    text-decoration: none;
    color: #A4D4A0;
}
nav li a:hover{
    color:#D2A1CA;
}

#logo{
    display:flex;
}


}
/***********************
        TABLET
***********************/
@media screen and (min-width: 480px) and (max-width: 768px){

    nav{
        padding:20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items:flex-end;
        justify-content: center;
     }
    nav ul{
        padding-top: 20px;
        display: flex;
        flex-direction: row;
    }
    nav li{    
        padding:30px;
        display:flex;
        flex-direction: row;
    }
    nav li a{
        font-size: 1.7rem;
        text-decoration: none;
        color: #A4D4A0;
    }
    nav li a:hover{
        color:#D2A1CA;
        transform: rotateX(360deg);
        transition: transform 1s;
    }
    #logo{
        display:flex;
        flex:wrap;
    }
}
/***********************
       DESKTOP
***********************/
@media screen and (min-width: 768px){

    nav{
        padding:20px;
        display: flex;
        flex-direction: row;
        align-items:flex-end; 
        justify-content: center;
     }
    nav ul{
        padding-top: 20px;
        display: flex;
        flex-direction: row;
    }
    nav li{    
        padding:0 30px;
    
    }
    nav li a{
        font-size: 1.7rem;
        text-decoration: none;
        color: #A4D4A0;
    }
    nav li a:hover{
        color:#D2A1CA;
        transform: rotateX(360deg);
        transition: transform 1s;
    }
    #logo{
        display:flex;
        flex:wrap;
         
    }

    }
